<h1>this is landing page</h1>
<h2>navigate through the upper toolbar</h2>
<h3>features of app</h3>
<ul>
  <li>
    go to current to see a beatuful table of current cryptodata '/current' route
  </li>
  <li>go to history to compare historical data '/histodata' route</li>
  <li>
    go to btc calc to see btc values in various currencies '/btccalc' route
  </li>
</ul>
<div>
  <h3>if time permits features added will be</h3>
  <ul>
    <li>line graph to compare historical data</li>
    <li>improve landing page</li>
    <li>improve code readiblity</li>
    <li>show line graph in current table</li>
  </ul>
</div>
