.flex-container {
  display: flex;
  flex-direction: row;
}
.class-field {
  display: block;
}

mat-card-title {
  color: azure;
  background: blue;
}

.date-select-area {        
  float: left;
  display: flex;
   align-items: center;
  /*justify-content: center; */
}
.graphContainer {
  display: block;
   flex:1; 
   max-width: 1700px;
}

.inputArea {
  max-width: 220px;

}